{% extends 'index.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="book-title">
        <p>Book: {{ book.title }} by 
            {% for author in authors %}
                <a href="{% url 'author:detail-view' author.id %}">{{ author.fullname }}</a>
            {% endfor %}</p>
    </div>

    <div class="general-info">
        {% if series %}
        <div class="series">
            <p>Series: <a href="{% url 'book:series-detail' series.id %}">{{ series.title }}</a> (book #{{ series.book_number }})</p>
        </div>
        {% endif %}
        <p>Number of pages: 300</p>
        <p>Year of publication: 2020 </p>

    </div>
{% endblock %}